%p#notice= notice

%h1 Couriers

%table
  %thead
    %tr
      %th Title
      %th Description
      %th{:colspan => "3"}
      
  %tbody
    - @couriers.each do |courier|
      %tr
        %td= courier.name
        %td= courier.email
